/* Title styles */
.guguke-title {
  height: 160px;
}

.guguke-title .mdl-layout-title {
  font-size: 64px;
}

/* Tab Bar styles */
.guguke-layout .mdl-layout__tab-bar {
  height: 100%;
  width: 100%;
}

.guguke-layout .mdl-layout__tab-bar-container {
  height: 64px;
  overflow: visible;
}

.guguke-layout .mdl-layout__tab {
  height: 64px;
  line-height: 64px;
}

.guguke-layout.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
  height: 4px;
}

.guguke-layout .mdl-layout__tab-bar-button {
  display: none;
}

.guguke-tab-button {
  bottom: -32px;
  height: 64px;
  position: absolute;
  right: 80px;
  width: 64px;
}

/* Avatar styles */
.guguke-avatar {
  background-image: url(https://secure.gravatar.com/avatar/a34545bcf53a67831dd518a6848eb58b?s=100);
  background-size: cover;
  border-radius: 100%;
  height: 100px;
  margin-right: 40px;
  width: 100px;
}

/* Main content styles */
.guguke-layout .mdl-layout__content {
  padding-top: 24px;
}

.guguke-panel {
  margin: 0 48px;
}

.guguke-panel__experience {
  padding: 8px;
}

.guguke-panel__teaching .guguke-section {
  width: 100%;
}

.guguke-panel__contact .mdl-grid {
  padding: 12px 0;
}

.guguke-section {
  display: flex;
  margin: 12px 0;
}

.guguke-section header{
  min-height: 200px;
}

.guguke-section .mdl-card__supporting-text {
  font-size: 15px;
  line-height: 20px;
}

.guguke-section .mdl-card__supporting-text a {
  border-bottom: 1px dashed;
  color: inherit;
  text-decoration: inherit;
}

.guguke-section .mdl-card__supporting-text a.no-decoration {
  border-bottom: none;
}

.guguke-card-table {
  border: none;
  width: 100%;
}

/* Student card styles */
.guguke-card-student__image {
  background-image: url(pitt-seal.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
}

/* Experience (CMU) card styles */
.guguke-card-cmu__image {
  background-color: #c41230;
  background-image: url(cmu-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
}

/* Experience (Google) card styles */
.guguke-card-google__image {
  background-image: url(google-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
}

/* Experience (PHS) card styles */
.guguke-card-phs__image {
  background-image: url(phs-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
}

/* Teaching page styles */
.guguke-schedule-chip {
  margin-right: 8px;
}

/* Contact page styles */
.guguke-link-button {
  color: #616161;
}

.guguke-link-button i {
  margin-right: 4px;
  /* Fixes vertical align */
  margin-top: -2px;
  vertical-align: middle;
}

/* Footer styles */
.guguke-layout .mdl-mini-footer {
  color: #bdbdbd;
  line-height: 24px;
  margin-bottom: 8px;
  min-height: 24px;
  padding: 24px 48px;
}

.guguke-layout .mdl-mini-footer a {
  color: #e0e0e0;
  text-decoration: inherit;
}

/* Icons */
@font-face {
  font-family: 'guguke-icon';
  src:  url('guguke-icon.eot');
  src:  url('guguke-icon.eot#iefix') format('embedded-opentype'),
    url('guguke-icon.ttf') format('truetype'),
    url('guguke-icon.woff') format('woff'),
    url('guguke-icon.svg#guguke-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'guguke-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-weibo:before {
  content: "\ea9a";
}
.icon-github:before {
  content: "\eab0";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin:before {
  content: "\eaca";
}

/* Styles for medium and small screen */
@media only screen and (max-width: 1024px) {
  .guguke-layout .guguke-title {
    height: 80px;
  }

  .guguke-layout .guguke-title .mdl-layout-title {
    font-size: 32px;
  }

  .guguke-layout .mdl-layout__content {
    padding-top: 0;
  }

  .guguke-layout .mdl-layout__tab-bar-container {
    height: 48px;
  }

  .guguke-layout .mdl-layout__tab {
    font-size: 12px;
    height: 48px;
    line-height: 48px;
  }

  .guguke-panel {
    margin: 0 16px;
  }

  .guguke-layout .mdl-mini-footer {
    margin-bottom: 4px;
    padding: 12px 48px;
  }
}
